defmodule <%= @web_namespace %>.TurboStreamChannel do
  use <%= @web_namespace %>, :channel

  @impl true
  def join(topic, %{"signed_topic" => signed_topic}, socket) do
    # Signed stream topics do not expire: a long-lived page must be able
    # to resubscribe after a disconnect.
    case <%= @web_namespace %>.Token.verify(socket, :turbo_stream_topic, signed_topic, max_age: :infinity) do
      {:ok, ^topic} ->
        {:ok, socket}

      _ ->
        {:error, %{reason: "unauthorized"}}
    end
  end

  def join(_topic, _payload, _socket) do
    {:error, %{reason: "unauthorized"}}
  end
end
